<div class="float-right">
  <% if logged_in? %>
  <%= link_to "Dashboard", user_path(current_user.id) %>
  <%= link_to "Log out", logout_path, method: "delete" %>
  <% else %>
    <%= link_to 'Sign up', signup_path %>
  <% end %>
</div>

<h1>Upcoming event </h1>

<% @events.each do | event| %>
<% if logged_in? %>
  <p><%= link_to event.title, event_path(event.id) %></p>
  <p><%=  event.info %></p>
    <p><%=  event.location %></p>
      <p><%=  event.date %></p>
  <hr>
   <% else %>
     <p>Hidden</p>
    <% end %>
<% end %>
